<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <form class="form-inline w-100">
        <select class="browser-default custom-select default ml-3" color="default" (change)="onSearchValuesetSelect($event)">
            <option value="">All Databases</option>
            <option *ngFor="let valueset of valuesets" value="{{valueset.valueset}}" [selected]='selectedValueset == valueset.valueset'>{{valueset.valueset}}</option>
        </select>
         <input id="search" type="text" class="form-control ml-3 w-60" (ngModel)="term" #searchInput
            [inputFormatter]="formatter" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt"
            (selectItem)="onTermSelect($event)" (focus)="focus$.next($any($event).target.value)"/>
        <button type="button" class="btn btn-light ml-3" (click)="openHelp(content)"><i class="fas fa-question-circle"></i></button>
        <!-- <button mdbBtn size="md" color="default" class="my-0 waves-light"
            mdbWavesEffect type="submit">Search</button> -->
    </form>
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div> 
    <div class="col-8 pl-5"> 
        <ul class="list-inline mb-0">
            <li class="list-inline-item">e.g</li>
            <li class="list-inline-item">
                <button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/HP_0002060')" class="btn btn-link p-0 mb-1">Abnormal cerebral morphology</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/DOID_1307')" class="btn btn-link p-0 mb-1">dementia</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openConcept('https://www.ncbi.nlm.nih.gov/gene/38')" class="btn btn-link p-0 mb-1">ACAT1</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openConcept('https://pubchem.ncbi.nlm.nih.gov/compound/105310993')" class="btn btn-link p-0 mb-1">acipimox</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/NCBITaxon_10255')" class="btn btn-link p-0 mb-1">Variola virus</button> 
            </li>
        </ul>
    </div>
</div>
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label[0]" [term]="t" *ngIf="!geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <ngb-highlight [result]="r.label[0] + '  ' + r.label[1]" [term]="t" *ngIf="geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <small *ngIf="selectedValueset == ''" class="font-italic">{{' ' + r.valueset}}</small> <br />
  <small>{{r.entity}}</small>
</ng-template> 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Search Examples</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="search-examples">
        <ul>
            <li><button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/HP_0002060')" class="btn btn-link p-0 mb-1">Abnormal cerebral morphology</button> 
                <span class="ml-5"> - by phenotypes</span>
            </li>
            <li><button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/DOID_1307')" class="btn btn-link p-0 mb-1">dementia</button>
                <span class="ml-5"> - by disease</span>
            </li>
            <li><button type="button" (click)="openConcept('https://www.ncbi.nlm.nih.gov/gene/38')" class="btn btn-link p-0 mb-1">ACAT1</button>
                <span class="ml-5"> - by gene symbol</span>
            </li>
            <li><button type="button" (click)="openConcept('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button>
                <span class="ml-5"> - by gene name</span>
            </li>
            <li><button type="button" (click)="openConcept('https://pubchem.ncbi.nlm.nih.gov/compound/105310993')" class="btn btn-link p-0 mb-1">acipimox</button>
                <span class="ml-5"> - by drug</span>
            </li>
            <li><button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/HP_0002018')" class="btn btn-link p-0 mb-1">Nausea</button>
                <span class="ml-5"> - by phenotype caused by acipimox</span>
            </li>
            <li><button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/NCBITaxon_10255')" class="btn btn-link p-0 mb-1">Variola virus</button>
                <span class="ml-5"> - by pathogen</span>
            </li>
            <li><button type="button" (click)="openConcept('http://purl.obolibrary.org/obo/CHEBI_17500')" class="btn btn-link p-0 mb-1">7alpha-hydroxycholesterol</button>
                <span class="ml-5"> - by metabolite</span>
            </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>