<div class="row">
    <table class="table table-striped">
    <thead color="default">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Evidence</th>
        <th scope="col">Created on</th>
        <th scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let association of associationsPage; let assocIndex = index">
        <td *ngIf="valueset == 'HP' || valueset=='MP'">
            <a (click)="openInNewTab(association.concept.value)" class="text-muted">
            <h6 *ngIf="this.entities[association.concept.value]">{{this.entities[association.concept.value]['label'][0]}}</h6><small class="text-muted">{{association.concept.value}}</small>
            </a>
        </td>
        <td *ngIf="valueset != 'HP' && valueset!='MP'">
            <a (click)="openInNewTab(association.phenotype.value)" class="text-muted">
            <h6 *ngIf="this.entities[association.phenotype.value]">{{this.entities[association.phenotype.value]['label'][0]}}</h6><small class="text-muted">{{association.phenotype.value}}</small>
            </a>
        </td>
        <td><span *ngIf="this.entities[association.evidence.value]"><a (click)="openInNewTab(association.evidence.value)" class="text-muted">{{this.entities[association.evidence.value]['label'][0]}}</a></span></td>
        <td>{{association.created ? association.created.value : ''}}</td>
        <td><ul class="list-unstyled"><li *ngFor="let source of association.sources.value.split(','); let sourceIndex = index">
            <a (click)="openInNewTab(source)" class="text-primary"> <i class="fa fa-link" aria-hidden="true"></i> Link {{ association.sources.value.split(',').length > 1 ? sourceIndex + 1 : ''}}</a>
            </li></ul>
        </td>
    </tr>
    </tbody>
    </table>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
    </select>
</div>
