<div class="row" *ngIf="associations.length > 0">
    <table class="table table-striped">
    <thead color="default">
    <tr>
        <th scope="col" sortable="name" (sort)="onSort($event)" class="pl-4">Name</th>
        <th scope="col" sortable="evidenceLabel" (sort)="onSort($event)" class="pl-4">Evidence</th>
        <th scope="col" sortable="created" (sort)="onSort($event)" class="pl-4">Created on</th>
        <th scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let association of associations; let assocIndex = index">
        <td *ngIf="valueset == 'HP' || valueset=='MP'">
            <a (click)="openInNewTab(association.concept.value)" class="text-muted">
            <h6>{{association.conceptLabel.value}}</h6><small class="text-muted">{{association.concept.value}}</small>
            </a>
        </td>
        <td *ngIf="valueset != 'HP' && valueset!='MP'">
            <a (click)="openInNewTab(association.phenotype.value)" class="text-muted">
            <h6>{{association.phenotypeLabel.value}}</h6><small class="text-muted">{{association.phenotype.value}}</small>
            </a>
        </td>
        <td><a (click)="openInNewTab(association.evidence.value)" class="text-muted">{{association.evidenceLabel.value}}</a></td>
        <td>{{association.created ? association.created.value : ''}}</td>
        <td><ul class="list-unstyled"><li *ngFor="let source of association.sources.value.split(','); let sourceIndex = index">
            <a (click)="openInNewTab(source)" class="text-primary"> <i class="fa fa-link" aria-hidden="true"></i> Link {{ association.sources.value.split(',').length > 1 ? sourceIndex + 1 : ''}}</a>
            </li></ul>
        </td>
    </tr>
    </tbody>
    </table>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [rotate]="true" 
        [maxSize]="5" (pageChange)="loadPage($event)" class="pl-3">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="onPageSizeChange($event)">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
    </select>
</div>

<div class="row mt-2" *ngIf="associations.length < 1">
    <p class="col-12 text-center"><ngb-alert class="alert-secondary" [dismissible]="false">No results found</ngb-alert></p>
</div>