
<div class="content mt-2">
<div class="card mb-4 wow fadeIn">
    <div class="card-body justify-content-between">
        <app-search-bar (selectedTerm)="onTermSelect($event)"></app-search-bar>
    </div>
</div>
<div class="card mb-4 wow fadeIn" *ngIf="iri && type">
    <div class="card-body justify-content-between">
        <span>
            <span class="card-title" *ngIf="ontologyClass">{{ontologyClass.label}}</span> 
            <span class="card-title" *ngIf="!ontologyClass">Disease Name</span>  
        </span>
        <small class="text-muted ml-2" *ngIf="ontologyClass">{{ontologyClass.oboid}}</small>
        <h6 class="card-subtitle mt-3">
            <span *ngIf="ontologyClass">{{ontologyClass.definition ? ontologyClass.definition[0]: ''}}</span> 
            <span *ngIf="!ontologyClass">Disease Definition</span>  
        </h6>    
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Phenotype Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Phenotype']"></app-list-association>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Gene Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Gene']"></app-list-association>
                </ng-template>
            </li>
            <!-- <li [ngbNavItem]="3" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Disease']"> -->
            <li [ngbNavItem]="3" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Disease']">
                <a ngbNavLink>Disease Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Disease']"></app-list-association>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Device']">
                <a ngbNavLink>Disease Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Device']"></app-list-association>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Drug']">
                <a ngbNavLink>Drug Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Drug']"></app-list-association>
                </ng-template>
            </li>
            <li [ngbNavItem]="4" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Metabolite']">
                <a ngbNavLink>Metabolite Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Metabolite']"></app-list-association>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" *ngIf="typeToAssoicationMap[BASE_PREFIX + 'Pathogen']">
                <a ngbNavLink>Disease Association</a>
                <ng-template ngbNavContent>
                    <app-list-association [associations]="typeToAssoicationMap[BASE_PREFIX + 'Pathogen']"></app-list-association>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
</div>