
<div class="content mt-2">
<div class="card mb-4 wow fadeIn">
    <div class="card-body justify-content-between">
        <div class="row">
            <form class="form-inline w-100">
                <select class="browser-default custom-select default ml-3" color="default" (change)="onTypeSelect($event)">
                    <option *ngFor="let type of types" value="{{type}}" [selected]='selectedType == type'>{{typesDisplay[type]}}</option>
                </select>
                <input id="search" type="text" class="form-control ml-3 w-40" (ngModel)="term" #searchInput
                    [inputFormatter]="formatter" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt"
                    (selectItem)="onTermSelect($event)" (focus)="focus$.next($any($event).target.value)"/>
                <button type="button" class="btn btn-light ml-3" (click)="openHelp(content)"><i class="fas fa-question-circle"></i></button>
            </form>
        </div>
        <div class="row">
    <div class="col-2">
    </div> 
    <div class="col-9"> 
        <ul class="list-inline mb-0">
            <li class="list-inline-item">e.g</li>
            <li class="list-inline-item">
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/5663')" class="btn btn-link p-0 mb-1">PSEN1</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button> |
            </li>
            <li class="list-inline-item">
                <button type="button" (click)="openGeneDisease('http://purl.obolibrary.org/obo/DOID_10652')" class="btn btn-link p-0 mb-1">Alzheimer's disease</button>
            </li>
        </ul>
    </div>
</div>
    </div>
</div>
</div>

<div class="card mb-4 wow fadeIn" *ngIf="!(iri && valueset)">
    <div class="card-body justify-content-between p-4">
        <span class="card-title">Gene Disease Connection</span>
        <p class="mt-3">Gene Disease Connection is designed to provide discovery of gene causing diseases or candidate genes for a disease 
        based on phenotypic similarity between the two. </p>
        <p>Gene and disease phenotypes data is integrated from Mouse Genome Informatics database (MGI), HPO and several research studies using 
        computational methods to identify phenotypes. <br />
        Example searches: Disease, Region and Phenotype, Multiple Genes
        <a (click)="openInNewTab('https://hpo.jax.org/app/download/annotation')" class="text-primary">HPO phenotype annontations</a>.</p>
    </div>
</div>

<div class="card mb-4 wow fadeIn" *ngIf="iri && valueset">
    <div class="card-body justify-content-between">
    <a (click)="openInNewTab(entity.entity)" class="text-muted">
    <span>
        <span class="card-title" *ngIf="entity && !geneValuesets.includes(entity.valueset)">{{entity.label[0]}}</span> 
        <span class="card-title" *ngIf="entity && geneValuesets.includes(entity.valueset)">{{entity.label[0] + '  ' + entity.label[1]}}</span> 
        <span class="card-title" *ngIf="!entity">Name</span>  
    </span>
    <small class="text-muted ml-2" *ngIf="entity?.identifier">{{entity.identifier}}</small>
    </a>
    <h6 class="card-subtitle mt-3">
        <span *ngIf="entity">{{entity.definition ? entity.definition[0]: ''}}</span> 
        <span *ngIf="!entity">Definition</span>  
    </h6> 
    <!--<div class="row"> 
        <div class="col-1 p-2 pt-3 ml-3">
            <label><strong>Filter By:</strong></label>
        </div>
        <div class="col-2 p-2">
            <select class="browser-default custom-select default ml-3" color="default" (change)="onTypeSelect($event)">
                <option value="">Select Type</option>
                <option *ngFor="let type of TYPES" value="{{type.uri}}" [selected]='typeFilter == type.uri'>{{type.name}}</option>
            </select>
        </div>
    </div> -->
    <div class="row"> 
        <div class="col-12 p-2 pt-3 ml-3">
            <label><h3>
            </h3></label>
        </div>
    </div>  
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink><span *ngIf="valusetEntityType() == 'Gene'">Disease Associations</span>
                <span *ngIf="valusetEntityType() == 'Disease'">Gene Associations</span>  
                <span *ngIf="mostSimilarConcepts && mostSimilarConcepts.length > 0"> ({{mostSimilarConcepts.length}})</span></a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-1 p-2 pt-3 ml-3">
                        <label><strong>Filter By:</strong></label>
                    </div>
                    <div class="col-2 p-2">
                    <form>
                        <div class="form-group form-inline">
                            <input class="form-control ml-2" type="text" [formControl]="filter"/>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="row" *ngIf="mostSimilarConcepts && mostSimilarConcepts.length > 0">
                    <table class="table table-striped">
                    <thead color="default">
                    <tr>
                        <th scope="col" sortable="conceptLabel" (sort)="onSort($event)" class="pl-4">Name </th>
                        <th scope="col">Common Phenotypes</th>
                        <th scope="col" sortable="val" (sort)="onSort($event)" class="pl-4">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let similarConcept of similarConceptsPage; trackBy: index">
                        <td class="w-40">
                            <a (click)="openGeneDisease(similarConcept.concept.value)" class="text-muted">
                                <h6 *ngIf="similarConcept.conceptLabel && similarConcept.conceptLabel.value">{{similarConcept.conceptLabel.value}}</h6><small class="text-muted">{{similarConcept.concept.value}}</small>
                            </a>
                            <button type="button" class="btn btn-link mr-2" placement="right" [autoClose]="'outside'"
                                    [ngbPopover]="similarPopContent" [popoverTitle]="similarPopTitle" (click)="displayConcept(similarConcept.concept.value)">
                            <i class="fas fa-info-circle"></i>
                            </button>
                        </td>
                        <td class="w-40"><ul><li *ngFor="let commonPhenotype of conceptPhenotypesMap[iri + '|' + similarConcept.concept.value]">
                        <a (click)="openConcept(commonPhenotype.phenotype.value)" class="text-muted">{{commonPhenotype.phenotypeLabel.value}} <small> <i>{{commonPhenotype.phenotype.value.split('/').pop().replace('_', ':')}}</i></small></a></li></ul>
                        <span *ngIf="conceptPhenotypesMap[iri + '|' + similarConcept.concept.value] && conceptPhenotypesMap[iri + '|' + similarConcept.concept.value].length < 1"> no common phenotypes found</span></td>
                        <td class="w-20">{{similarConcept.val?.value}}<td>
                    </tr>
                    </tbody>
                    </table>
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [rotate]="true" 
                        [maxSize]="5" class="pl-3">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                    </select>
                </div>
                <div class="row mt-2" *ngIf="!mostSimilarConcepts || (mostSimilarConcepts && mostSimilarConcepts.length < 1)">
                    <p class="col-12 text-center"><ngb-alert [dismissible]="false">No results found</ngb-alert></p>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>Phenotype Associations</a>
            <ng-template ngbNavContent>
                <app-list-association [iri]="iri" [valueset]="valueset" [type]="{'name': 'Phenotype', 'uri': BASE_PREFIX + 'Phenotype'}"  [valuesetList]="valuesets" (annontationQuery)="onQueryChange($event)"></app-list-association>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Neighbourhood Visualization</a>
            <ng-template ngbNavContent>
                <app-plot-scatter-chart [similarConcepts]="mostSimilarConcepts" [similarEntities]="similarEntityType"></app-plot-scatter-chart>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
<!--<div class="card mb-4 wow fadeIn" *ngIf="mostSimilarConcepts && mostSimilarConcepts.length > 0">
    <div class="card-body justify-content-between">
        <span>
            <span class="card-title" *ngIf="entity">Neighbourhood Visualization</span> 
            <hr />
        </span>
        <app-plot-scatter-chart [similarConcepts]="mostSimilarConcepts" [similarEntities]="similarEntityType"></app-plot-scatter-chart>
    </div>
</div>-->
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label[0]" [term]="t" *ngIf="!geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <ngb-highlight [result]="r.label[0] + '  ' + r.label[1]" [term]="t" *ngIf="geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <small *ngIf="selectedValueset == ''" class="font-italic">{{' ' + r.valueset}}</small> <br />
  <small>{{r.entity}}</small>
</ng-template> 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Search Examples</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="search-examples">
        <ul>
            <li>
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/5663')" class="btn btn-link p-0 mb-1">PSEN1</button>
                <span class="ml-5"> - by gene symbol (mutation in PSEN1 gene can cause Alzheimer)</span>
            </li>
            <li>
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button> 
                <span class="ml-5"> - by gene name (similar to PSEN1, mutation in Amyloid precursor protein or AAP gene can cause Alzheimer disease) </span>
            </li>
            <li>
                <button type="button" (click)="openGeneDisease('http://purl.obolibrary.org/obo/DOID_10652')" class="btn btn-link p-0 mb-1">Alzheimer's disease</button>
                <span class="ml-5"> - by disease name such as Alzheimer's disease to find related gene</span>
            </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #similarPopContent>
    <div class="spinner-border-sm text-primary" role="status" *ngIf="popSimilarEntity == null">
        <span class="sr-only">Loading...</span>
    </div>
    <span *ngIf="popSimilarEntity != null">
    <span *ngIf="popSimilarEntity.definition && popSimilarEntity.definition.length > 0"><strong>Definition:</strong> {{popSimilarEntity.definition}}<br/></span>
    <strong>Type:</strong> {{popSimilarEntity.entity_type}} <br />
    <strong>Database:</strong> {{popSimilarEntity.valueset}} <br /> 
    <strong>URL:</strong>&nbsp;<a (click)="openInNewTab(popSimilarEntity.entity)">{{popSimilarEntity.entity}}</a><br />
    </span>
</ng-template>
<ng-template #similarPopTitle>
    <div class="spinner-border-sm text-primary" role="status" *ngIf="popSimilarEntity == null">
        <span class="sr-only">Loading...</span>
    </div>
    <strong *ngIf="popSimilarEntity && !geneValuesets.includes(popSimilarEntity.valueset)">{{popSimilarEntity?.label[0]}}</strong>
    <strong *ngIf="popSimilarEntity && geneValuesets.includes(popSimilarEntity.valueset)"><b>{{popSimilarEntity?.label[0]}}</b> {{popSimilarEntity?.label[1]}}</strong>
</ng-template>