<div class="content mt-2">
<div class="card mb-4 wow fadeIn">
    <div class="card-body justify-content-between">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
            <form class="form-inline w-100">
                <select class="browser-default custom-select default ml-3" color="default" (change)="onTypeSelect($event)">
                    <option *ngFor="let type of types" value="{{type}}" [selected]='selectedType == type'>{{typesDisplay[type]}}</option>
                </select>
                <input id="search" type="text" class="form-control ml-3 w-60" (ngModel)="term" #searchInput
                    [inputFormatter]="formatter" [ngbTypeahead]="search" placeholder="Search" [resultTemplate]="rt"
                    (selectItem)="onTermSelect($event)" (focus)="focus$.next($any($event).target.value)"/>
                <button type="button" class="btn btn-light ml-3" (click)="openHelp(content)"><i class="fas fa-question-circle"></i></button>
            </form>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div> 
            <div class="col-6"> 
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">e.g</li>
                    <li class="list-inline-item">
                        <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/5663')" class="btn btn-link p-0 mb-1">PSEN1</button> |
                    </li>
                    <li class="list-inline-item">
                        <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button> |
                    </li>
                    <li class="list-inline-item">
                        <button type="button" (click)="openGeneDisease('http://purl.obolibrary.org/obo/DOID_10652')" class="btn btn-link p-0 mb-1">Alzheimer's disease</button>
                    </li>
                </ul>
            </div>
</div>
    </div>
</div>
</div>

<div class="card mb-4 wow fadeIn" *ngIf="!(iri && valueset)">
    <div class="card-body justify-content-between p-4">
        <span class="card-title">Gene Disease Connection</span>
        <p class="mt-3">Gene Disease Connection is designed to provide discovery of gene causing diseases and candidate genes for a disease 
        based on phenotypic similarity between the two. </p>
        <p>Gene and disease phenotypes data is integrated from Mouse Genome Informatics database (MGI), HPO and several research studies using 
        computational methods to identify phenotypes.</p>
    </div>
</div>
<div class="card mb-4 wow fadeIn" *ngIf="!(iri && valueset)">
    <div class="card-body justify-content-between p-4">
        <span class="card-title">Search Examples</span>
        <p> Search examples suggesting our method's ability to predict candidate interacting protien are following:</p>
        <ul>
            <li><a href="https://www.alzheimers.org.uk/about-dementia/risk-factors-and-prevention/alzheimers-disease-and-genes')" class="text-primary">Studies of Alzheimer disease</a> 
            suggest that mutation in <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/5663')" class="btn btn-link p-0 mb-1">PSEN1</button> or 
            <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button> gene can cause Alzheimer.
            Our search results from searching for PSEN1 or Amyloid precursor protein suggests that both genes have number of matching phenotypes.
            </li>
            <li class="mt-3">Similarly, <button type="button" (click)="openGeneDisease('http://purl.obolibrary.org/obo/DOID_10652')" class="btn btn-link p-0 mb-1">Alzheimer's disease</button>, we can
            find that APP - Amyloid precursor protein gene have many matching phenotypes with the alzheimer.
            </li>
        </ul> 
    </div>
</div>
<div class="card mb-4 wow fadeIn" *ngIf="iri && valueset">
    <div class="card-body justify-content-between">
    <a (click)="openInNewTab(entity.entity)" class="text-muted">
    <span>
        <span class="card-title" *ngIf="entity && !geneValuesets.includes(entity.valueset)">{{entity.label[0]}}</span> 
        <span class="card-title" *ngIf="entity && geneValuesets.includes(entity.valueset)">{{entity.label[0] + '  ' + entity.label[1]}}</span> 
        <span class="card-title" *ngIf="!entity">Name</span>  
    </span>
    <small class="text-muted ml-2" *ngIf="entity?.identifier">{{entity.identifier}}</small>
    </a>
    <h6 class="card-subtitle mt-3">
        <span *ngIf="entity">{{entity.definition ? entity.definition[0]: ''}}</span> 
        <span *ngIf="!entity">Definition</span>  
    </h6> 
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink><span *ngIf="valusetEntityType() == 'Gene'">Disease Associations</span>
                <span *ngIf="valusetEntityType() == 'Disease'">Gene Associations</span>  
                <span *ngIf="mostSimilarConcepts && mostSimilarConcepts.length > 0"> ({{mostSimilarConcepts.length}})</span></a>
            <ng-template ngbNavContent>
                <app-list-similar-associations [iri]="iri" [valueset]="valueset" [selectedType]="selectedType" [targetType]="targetType" [conceptRedirect]="conceptRedirect" (similarityQuery)="onQueryChange($event)"></app-list-similar-associations>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Phenotype Associations</a>
            <ng-template ngbNavContent>
                <app-list-association [iri]="iri" [valueset]="valueset" [type]="{'name': 'Phenotype', 'uri': BASE_PREFIX + 'Phenotype'}"  [valuesetList]="valuesets" (annontationQuery)="onQueryChange($event)" ></app-list-association>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label[0]" [term]="t" *ngIf="!geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <ngb-highlight [result]="r.label[0] + '  ' + r.label[1]" [term]="t" *ngIf="geneValuesets.includes(r.valueset)"></ngb-highlight> 
  <small *ngIf="selectedValueset == ''" class="font-italic">{{' ' + r.valueset}}</small> <br />
  <small>{{r.entity}}</small>
</ng-template> 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Search Examples</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="search-examples">
        <ul>
            <li>
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/5663')" class="btn btn-link p-0 mb-1">PSEN1</button>
                <span class="ml-5"> - by gene symbol</span>
            </li>
            <li>
                <button type="button" (click)="openGeneDisease('https://www.ncbi.nlm.nih.gov/gene/351')" class="btn btn-link p-0 mb-1">Amyloid precursor protein</button> 
                <span class="ml-5"> - by gene name</span>
            </li>
            <li>
                <button type="button" (click)="openGeneDisease('http://purl.obolibrary.org/obo/DOID_10652')" class="btn btn-link p-0 mb-1">Alzheimer's disease</button>
                <span class="ml-5"> - by disease name from MONDO, ORDO, OMIM, DOID and Decipher</span>
            </li>
        </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>