<div class="content mt-2">
<div class="card mb-4 wow fadeIn">
    <div class="card-body justify-content-between">
        <!-- <h4>Download Dataset</h4>
        <p>
        To download DDIEM dataset in RDF format, click on the link <a href="javascript:void(0);" (click)="downloadDdiemData()"><i class="fa fa-lg fa-download" aria-hidden="true"></i></a>.
        </p> -->
        <h4>SPARQL Query Editor</h4>
        <div class="row">
            <ul>
                <li>List concepts that have <strong>dry cough</strong> phenotype associated with it 
                    <button type="button" (click)="listConceptsByPhenotype()" class="btn btn-link p-0 mb-1">example</button>.</li>
                <li>List top 10 most similar concepts associated with <strong>acute diarrhea</strong> disease
                    <button type="button" (click)="listMostSimilarToAcuteDiarrhea()" class="btn btn-link p-0 mb-1">example</button>.</li>
                <li>List top 10 most similar diseases to <strong>cardiac arrest </strong>
                    <button type="button" (click)="listMostSimilarDiseaseToCardiacArrest()" class="btn btn-link p-0 mb-1">example</button>.</li>
            </ul>
        </div>
        <app-sparql-form [query]="query"></app-sparql-form>
    </div>
</div>
</div>