<div class="content mt-2">
<div class="card mb-4 wow fadeIn" *ngIf="!(iri && valueset)">
    <div class="card-body justify-content-between p-4">
        <div class="row p-3">
            <span class="card-title">Downloads</span>
        </div>
        <div class="row pl-3">
            <p>The phenotype reactor project aggregates phenotype annotations from various sources and transform it 
            into <button type="button" (click)="openInNewTab('https://www.w3.org/TR/turtle/')" class="btn btn-link p-0 mb-1">Trutle format</button>
            of RDF language. Here is the latest version of the anntations:</p>
        </div>
        <div class="row pl-3">
            <span><ul><li><button type="button" (click)="downloadFile('latest')" class="btn btn-link p-0 mb-1">Latest Version</button></li></ul></span>
        </div>
        <div class="row pl-3">
            <p>The structure of the annotations is descirbed in the <button type="button" (click)="openInNewTab('https://www.w3.org/TR/shacl/')" class="btn btn-link p-0 mb-1">SHACL</button> 
             language. The schema file is available <button type="button" (click)="downloadFile('schema/phenotype-reactor.shex')" class="btn btn-link p-0 mb-1">here</button>.</p>
        </div>
        <div class="row pl-3">
            <strong>Annotations' Versions</strong>
        </div>
        <div class="row p-3 pt-3">
            <table class="table table-sm table-bordered col-md-4">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Version</th>
                    <th scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td>{{file.last_mod_time}}</td>
                        <td><button type="button" (click)="downloadFile(file.full_name)" class="btn btn-link p-0 mb-1">tar.gz</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>