<div class="content mt-2">
<div class="card mb-4 wow fadeIn" *ngIf="!(iri && valueset)">
    <div class="card-body justify-content-between p-4">
        <div class="row p-3">
            <span class="card-title">Downloads</span>
        </div>
        <div class="row pl-3">
            <p>The Phenomebrowser project aggregated phenotype annotations from various sources and transform them 
            into <button type="button" (click)="openInNewTab('https://www.w3.org/TR/rdf-syntax-grammar/')" class="btn btn-link p-0 mb-1">RDF/XML format</button>
            of RDF language. Here is the latest version of the anntations:</p>
        </div>
        <div class="row pl-3">
            <span><ul><li><button type="button" (click)="downloadArchivedFile('latest')" class="btn btn-link p-0 mb-1">Latest Version</button></li></ul></span>
        </div>
        <div class="row pl-3">
            <p>The structure of the annotations is descirbed in <button type="button" (click)="openInNewTab('https://www.w3.org/TR/shacl/')" class="btn btn-link p-0 mb-1">SHACL</button> 
             language. The schema file is available <button type="button" (click)="downloadFile('schema/phenotype-reactor.shex')" class="btn btn-link p-0 mb-1">here</button>.</p>
        </div>
        <div class="row pl-3 mt-2">
            <strong>Annotations' Versions</strong>
        </div>
        <div class="row p-3 pt-3">
            <table class="table table-sm table-bordered col-md-4">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Version</th>
                    <th scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td>{{file.last_mod_time}}</td>
                        <td><button type="button" (click)="downloadArchivedFile(file.full_name)" class="btn btn-link p-0 mb-1">tar.gz</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="sider">
            <div class="row pl-3">
                <strong>Additional Resources</strong>
            </div>
            <div class="row pl-3 mt-2">
                <p><button type="button" (click)="downloadArchivedFile('sider_drug_phenotype.txt')" class="btn btn-link p-0 mb-1">sider_drug_phenotype.txt</button> 
                maps side effects in <button type="button" (click)="openInNewTab('https://pubmed.ncbi.nlm.nih.gov/20087340')" class="btn btn-link p-0 mb-1">SIDER</button> 
                to HPO, MP or MPATH ontology  using lexical mapping between the two. Some of SIDER's side effects are diseases, there we use the text mined list of DOID to phenotypes mapping 
                to get their phenotypes. The dataset file is in tab-separated (tsv) file format and the content of the file include a column for drug IDs from pubchem database and a column 
                for phenotype references from HPO or MP. </p>
            </div>
        </div>
    </div>
</div>
</div>