<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark info-color-dark ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Phenotype Reactor</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="isparql">SPARQL</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="downloads">Downloads</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="about">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                <i class="fas fa-info-circle"></i>
                </a>
            </li>
        </ul>
       <!--  <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
            </li>
        </ul> -->
    </links>
</mdb-navbar>
<!-- Main -->
<main class="mt-10">
  <div class="container-fluid" style="min-height:1000px;"> 
    <router-outlet></router-outlet>
  </div>
</main>
<!-- /.Main -->

<!-- Footer -->
<footer class="page-footer font-small info-color-dark">
  <div class="footer-copyright text-center py-3">
    <div class="mt-2">
      <p>
      Phenotype Reactor is developed by researchers from <b>KAUST BORG</b>. 
      <br /> 
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
      <br />
      </p>
    </div>   
  </div>
</footer>
  <!-- Footer -->