<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark info-color-dark ie-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Phenotype Reactor</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link waves-effect waves-light" ngbDropdownToggle>
                    Browse
                </a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="genedisease">Gene Disease Connections</button>
                    <button ngbDropdownItem routerLink="dataset">Datasets</button>
                </div>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="isparql">SPARQL</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="downloads">Downloads</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link waves-effect waves-light" ngbDropdownToggle>
                    Related Databases
                </a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="openInNewTab('http://ddiem.phenomebrowser.net')">DDIEM</button>
                    <button ngbDropdownItem (click)="openInNewTab('http://patho.phenomebrowser.net')">PathoPhenoDB</button>
                    <button ngbDropdownItem (click)="openInNewTab('http://vsim.phenomebrowser.net')">VSIM</button>
                    <button ngbDropdownItem (click)="openInNewTab('http://owas.phenomebrowser.net')">OWAS</button>
                    <button ngbDropdownItem (click)="openInNewTab('http://ukb.phenomebrowser.net/')">UKB phenomebrowser</button>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons mr-10">
                <!-- <a class="nav-link waves-effect waves-light">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Report an issue</a>
                </div>
                </a> -->
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link waves-effect waves-light" ngbDropdownToggle>
                    <i class="fas fa-info-circle"></i>
                </a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="openInNewTab('https://github.com/bio-ontology-research-group/phenotype-reactor/issues')">Report an Issue</button>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<main class="mt-10">
  <div class="container-fluid" style="min-height:1000px;"> 
    <router-outlet></router-outlet>
  </div>
</main>
<!-- /.Main -->

<!-- Footer -->
<footer class="page-footer font-small info-color-dark">
  <div class="footer-copyright text-center py-3">
    <div class="mt-2">
      <p>
      Phenotype Reactor is developed by researchers from <b>KAUST BORG</b>. 
      <br /> 
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
      <br />
      </p>
    </div>   
  </div>
</footer>
  <!-- Footer -->